@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400;6..96,500;6..96,600;6..96,700;6..96,800;6..96,900&family=DM+Sans:wght@400;500&family=DM+Serif+Display&family=DM+Serif+Text&family=Didact+Gothic&family=Nanum+Myeongjo&family=Outfit:wght@100;200;300&family=Silkscreen&display=swap');

/* nav styling */
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.nav-a {
  font-family: 'Outfit', sans-serif;
  font-weight: light;
}

/* about styling */
.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.about-btn {
  font-family: 'Outfit', sans-serif;
  font-weight: light;
}

.avatar {
  max-width: 50%;
}

.landing-skills {
  font-family: 'Outfit', sans-serif;
  font-weight: lighter;
}

.about p {
  max-width: 50%;
}
/* contact form styling */
.contactForm {
  text-align: center;
}
.mail {
  text-align: center;

}

/* resume styling */
.res-head {
  font-family: 'Outfit', sans-serif;
  font-weight: lighter;
  color: white;
}


.resume-skills {
  font-family: 'Silkscreen', cursive;

}
.resume h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* project styling */
.carousel {
  text-align: center;
}
.projects {
  align-content: center;
}

.projectPage {
  text-align: center;

}

/* footer styling */
footer .icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

footer a {
  padding: 20px;
  font-size: 30px;
}

footer p {
  text-align: center;
}