@tailwind base;
@tailwind components;
@tailwind utilities;


/* nav styling */
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* about styling */
.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.avatar {
  max-width: 50%;
}

.about p {
  max-width: 50%;
}
/* contact form styling */
.contactForm {
  text-align: center;
}
.mail {
  text-align: center;

}

/* resume styling */
.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

/* footer styling */
footer .icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer p {
  text-align: center;
}